body {
  background-color: black;
}

div {
  text-align: center;
  font-family: 'Nosifer', cursive;
  color: white;
  font-size: 40px;
}

#one_1 {
  margin-top: 100px;
  font-size: 50px;
}

#two_2 {
  font-size: 50px;
}

#esveegee {
  width: 35%;
  background-color: black;
}

@media screen and (max-width: 480px) {
    #one_1 {
      margin-top: 200px;
    }
}
